
html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: 'Poppins', sans-serif;
  }

/* center the canvas */
  canvas {

    position: absolute;
    top: 14%; 
    left: 8%;
  }
  
  h1 {
    font: 'Poppins';
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    color: aliceblue;
  }

  h3 {
    /* padding-top: 10%; */
    padding-left: 25%;
    padding-right: 25%;
    color: aliceblue;
  }

  a {
    color: deeppink;
    text-decoration: none;
  }

  a:hover {
    color: blueviolet
  }

  #play_title {
      color: aliceblue;
      text-align: center;
  }